<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ksiazki</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        table, th, tr, td {border: 1px solid rgba(255, 0, 21, 0.479); background-color: white;}
    </style>
</head>
<body style=background-color:rgba(255,123,0,0.37)>

<h2 style=font-size:45px;color:rgba(128,30,0,0.751);>Domowa biblioteka</h2>
<div><img src="https://cdn.pixabay.com/photo/2020/05/25/17/54/library-5219747_1280.jpg" alt="Ksiazki" width="1500" height="450"></div>
<table>
    <thead>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Przeczytane?</th>
    <th>Id</th>
    </thead>
{% for todo in todos %}
    <tr>
        <td><a href="/todos/{{ loop.index }}">{{ todo.title }}</a></td>
        <td>{{ todo.author }}</td>
        <td>{{ todo.read }}</td>
        <td>{{ todo.id }}</td>
    </tr>
{% endfor %}
</table>
<div>
    <h2 style=font-size:45px;color:rgba(128,30,0,0.751);> Dodaj nowe ksiazki: </h2>
    <form method="POST" action="/todos/">
       {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>
<div>
    <h2 style=font-size:45px;color:rgba(128,30,0,0.751);> Wyporzyczone ksiazki: </h2>
    <form method="POST" action="/todos/">
        <table>
            <thead>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Wyporzyczona</th>
                <th>Oddana</th>
                <th>Id</th>
                </thead>
            {% for todo in todos %}
                <tr>
                    <td><a href="/todos/{{ loop.index }}">{{ todo.title }}</a></td>
                    <td>{{ todo.author }}</td>
                    <td>tak</td>
                    <td>nie</td>
                    <td>{{ todo.id }}</td>
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
</body>
</html>